*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Arial,"Microsoft YaHei",sans-serif;
}
html,body{
	height: 100%;
	overflow: hidden;
}
#container,.sections,.section{
	height: 100%;
	position: relative;
}
#section0,
#section1,
#section2,
#section3{
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
	overflow:hidden;
}
#section0{
	background-image: url(https://r.photo.store.qq.com/psb?/V115M72j09uXWj/P3SvEmiltRIMsH.j10Nc5SHVJ31Q.TrLGAIPZli3XUs!/r/dG8BAAAAAAAA);
	color: #fff;
}
#section1{
	color: #fff;
	background-image: url(https://r.photo.store.qq.com/psb?/V115M72j09uXWj/BgxdUom6YVRdXQFpR9eW9JTFRf38vz131px6Z7iZeFs!/r/dOEAAAAAAAAA);
	
}
#section2{
	background:#fff;
	color: #333;
}
#section3{
	color: #333;
	background-image: url(https://r.photo.store.qq.com/psb?/V115M72j09uXWj/4Y9dJ3ehXWLdZFZO0eCyFeTd7RGTBNNdBiZh9AtomMo!/r/dOEAAAAAAAAA);
	text-shadow:1px 1px 1px #fff;
}
#section1 .im1{width:570px;}
#section1 .im{width:320px;margin-right:-40px;}
#section1 .im2{width:350px;margin-left:-40px;}
#section2 .im3{width:300px;position:absolute;left:-20%;top:-30%;}
#section2 .im4{width:400px;position: absolute;right:-30%;top:40%;}

.left{
	float: left;
}
.conp2{
   white-space:nowrap;
}
.conp4{
	left:20%;opacity:0;
	
}
.intro{
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;

}
.pages{
	position:fixed;
	list-style: none;
}
.vertical.pages{
	right: 10px;
	top: 50%;
}
.horizontal.pages{
	left: 50%;
	bottom: 10px;
}
.pages li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin: 10px 5px;
	cursor: pointer;
}
.horizontal.pages li{
	display: inline-block;
	vertical-align: middle;
}



.pages li.active{
	width: 10px;
	height:10px;
	border-radius: 50%;
	background: #f00;
}
#section0 .title{
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-animation: sectitle0 1.5s ease-in-out 500ms forwards;
	animation: sectitle0 1.5s ease-in-out 500ms forwards;
	font-size: 2.5em;
	font-weight:lighter;
}
#section0 p{
	font-size: 1.1em;
	margin:0.5em 0 2em 0;
	color:#fff;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-animation: sec0 1.5s ease-in-out 500ms forwards;
	animation: sec0 1.5s ease-in-out 500ms forwards;
}

@-webkit-keyframes sectitle0{
	0%{
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0.2;
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes sectitle0{
	0%{
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0.1;
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@-webkit-keyframes sec0{
	0%{
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0.1;
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes sec0{
	0%{
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0.2;
	}
	100%{
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}


.ani1{animation: ani1 2s ease-in-out 100ms forwards;}
.ani2{animation: ani2 2s ease-in-out  100ms forwards;}
.ani3{animation: ani4 2s ease-in-out  100ms forwards;}
.ani4{animation: ani5 2s ease-in-out  100ms forwards;}
.ani5{animation: ani3 2s ease-in-out 100ms forwards;}


@keyframes ani1{
	0%{
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0.2;
	}
	100%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity:1;
	}
}
@-webkit-keyframes ani1{
	0%{
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0.2;
	}
	100%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity:1;
	}
}
@keyframes ani2{
	0%{
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity:0.2;
	}
	100%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes ani2{
	0%{
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		opacity:0.2;
	}
	100%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes ani3{
	0%{
		transform: translateY(-250%);
        opacity:0.2;
	}
	100%{
		transform: translateY(-10%);
		opacity: 1;
	}
}
@-webkit-keyframes ani3{
	0%{
		transform: translateY(-250%);
        opacity:0.2;
	}
	100%{
		transform: translateY(-10%);
		opacity: 1;
	}
}
@keyframes ani4{
	0%{
		left:-20%;
	}
	100%{
		left:10%;
	}
}
@-webkit-keyframes ani4{
	0%{
		left:-20%;
	}
	100%{
		left:10%;
	}
}
@keyframes ani5{
	0%{
		right:-30%;
	}
	100%{
		right:7%;
	}
}
@-webkit-keyframes ani5{
	0%{
		right:-30%;
	}
	100%{
		right:7%;
	}
}
