*{margin:0;padding:0;}
body{width:100%;height:100%;background:#eee;font-size:16px;font-family:Microsoft YaHei,"黑体";letter-spacing:1px;}
ul,li{list-style:none}
a{text-decoration: none;}
.main{width:1000px;
	margin:0 auto;
	background:#fff;
	text-align:center;
}
.img{
	display:block;	
	margin:50px auto; 
	width:150px; 
	height:150px;
	border-radius:50%;
	-webkit-border-radius:50%;	
	-o-border-radius:50%;	
	-moz-border-radius:50%;
}
.Myi{
	padding-top:30px;
}
h2{
	font-size:18px;
	margin:30px;
}
h3{
	font-weight:bold;
	font-size:25px;
	color:#fff;
	line-height:250px;
	margin-top:30px; 
	width:100%;
	height:250px;
	background-size:100%;
}
.title1{background-image:url(https://r.photo.store.qq.com/psb?/V115M72j0jVHuv/OWacBGBF4*rGkontF.bENYtyv5CzjVmN4B7jwMWaU5U!/r/dHABAAAAAAAA);}
.title2{background-image:url(https://r.photo.store.qq.com/psb?/V115M72j0jVHuv/4.Al2WxEoNOo20EzpxJC01VbNW23IgwXWUyA72NMQWs!/r/dHIBAAAAAAAA);}
.title3{background-image:url(https://r.photo.store.qq.com/psb?/V115M72j0jVHuv/RnXn8cG7lUspRaZdImwPExtsIbZudd31Fz*9to4qG0c!/r/dI0BAAAAAAAA);}
.p1{
	margin-bottom:20px;
}
.ps{
	line-height:28px;
}
.info{
	width:100%;
	height:260px;
}
.ul-l{
	float:left;
	text-align:left;
	padding:0px 160px 0 210px;
	margin-top:35px;
        border-right:1px solid #ccc; 
}
.info li{
	color:#333;
	padding-top:20px;
}
.info span{
	display:inline-block;
	color:#888;
	width:100px;
}
.ul-r{
	float:right;
	text-align:left;
	padding-right:110px;
	margin-top:35px;
}
.ability{
	margin-top:25px;
}
.ability ul{
	height:30px;
}
.ability ul li{
	width:400px;
	height:30px;
	border: 1px solid #000;
	float:left;
	margin:20px 47px;
	line-height:30px;
        border-radius: 2px;
}
.ability ul li span{
	background:#ccc;
	display:block;
	padding-left:12px;
	height:30px;
	color:#666;
	text-align:left;
	float:left;
	border-radius: 3px;
}
.ability i{
	padding-right:10px;
	float:right;
}
.ability ul li .s1{width:322px;}
.ability ul li .s2{width:325px;}
.ability ul li .s3{width:290px;}
.ability ul li .s4{width:270px;}
.ability ul li .s5{width:265px;}
.ability ol{
	text-align:left;
	margin-left:90px;
	clear: both;
}
.ability ol li{
	list-style:decimal;
	margin-top:5px;
}
.works,.info,.ability{
	display:none;
}
.works a{
	font-size:21px;
	line-height:104px;
	color:#606161;
	float:left;
	margin:40px;
	width:250px;
	height:130px;
	padding-top:20px;
	border:1px solid #333;
	border-radius: 4px;
	transition: background 0.6s;
}
.works a:hover{
	background:#A5A5A5;
	color:#fff;
}
footer{
	clear:both;
	font-family:"黑体","宋体"; 
	font-size: 25px;
        line-height:170px;
	color:#fff;
	width:100%;
	height:170px;
	background:#777;
}	
